/* Your custom styles */
.btn-firstAid {
    color: #fff;
    background-color:#F91405;
    border-color:#F91405 ;
}
.btn-low {
    color: #fff;
    background-color: #ff7b29;
    border-color: #ff7b29;
}
.btn-bev {
    color: #fff;
    background-color: 	#008080;
    border-color: 	#008080;
}
.btn-sponsor {
    color: #fff;
    background-color: #6ADC07;
    border-color: #6ADC07;
}
.btn-stage {
    color: #fff;
    background-color: #B806AD;
    border-color: #B806AD;
}
.btn-nino {
    color: #fff;
    /* background-color: #FE5D4D;
    border-color: #FE5D4D; */
    background-color: #fe4dc6;
    border-color: #fe4dc6;
}
.btn-health {
    color: #fff;
    background-color: #0652DD;
    border-color: #0652DD;
}
.btn-native {
    color: #fff;
    background-color: #1B1464;
    border-color: #1B1464;
}
.btn-exhibit {
    color: #fff;
    background-color: 	#FFD700;
    border-color:	#FFD700;
}
.btn-food {
    color: #fff;
    background-color: #00B1FC;
    border-color: #00B1FC;
}
.btn-taxi {
    color: #fff;
    background-color: #2e9112;
    border-color: #2e9112;
}
.btn-bike{
    color: #fff;
    background-color: #3e0953;
    border-color: #3e0953;
}
.btn-dj {
    color: #fff;
    background-color: #49e6e9 ;
    border-color: #49e6e9;
}
.btn-staging {
    color: #fff;
    background-color: #ed4c67;
    border-color: #ed4c67;
}
.btn-festival {
    color: #fff;
    background-color: #0652dd;
    border-color: #0652dd;
}
.btn-parade {
    color: #fff;
    background-color: #009432;
    border-color: #009432;
}
.btn-destage {
    color: #fff;
    background-color: #ffc412;
    border-color: #ffc412;
}
.btn-grand {
    color: #fff;
    background-color: #8614ff;
    border-color: #8614ff;
}