<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <app-schedule-event *ngFor="let event of events" [event]="event"></app-schedule-event>
      
      <h3 class="text-center">Saturday, May 26th, 2018</h3>
      <div class="row">
        <div class="card-group mb-2 col-sm-12">
            <div class="card">
              <img class="card-img-top" src="{{ events[0].attributes.image_logo }}" alt="Card image cap">
              <h5 class="card-header">Event Name</h5>
              <div class="card-body">
                <h6 class="card-subtitle mb-2 text-muted">Event time & location</h6>
                <p class="card-text">Short description of the event and its highlights. Three sentences should suffice</p>
              </div>
            </div>
            <div class="card">
              <img class="card-img-top" src="http://via.placeholder.com/200x150" alt="Card image cap">
              <h5 class="card-header">Event Name</h5>
              <div class="card-body">
                <h6 class="card-subtitle mb-2 text-muted">Event time & location</h6>
                <p class="card-text">Short description of the event and its highlights. Three sentences should suffice</p>
              </div>
            </div>
            <div class="card">
              <img class="card-img-top" src="http://via.placeholder.com/200x150" alt="Card image cap">
              <h5 class="card-header">Event Name</h5>
              <div class="card-body">
                <h6 class="card-subtitle mb-2 text-muted">Event time & location</h6>
                <p class="card-text">Short description of the event and its highlights. Three sentences should suffice</p>
              </div>
            </div>
          </div>
      </div>

      <div class="row">
        <div class="card-group mb-2 col-sm-12">
            <div class="card">
              <img class="card-img-top" src="http://via.placeholder.com/200x150" alt="Card image cap">
              <h5 class="card-header">Event Name</h5>
              <div class="card-body">
                <h6 class="card-subtitle mb-2 text-muted">Event time & location</h6>
                <p class="card-text">Short description of the event and its highlights. Three sentences should suffice</p>
              </div>
            </div>
            <div class="card">
              <img class="card-img-top" src="http://via.placeholder.com/200x150" alt="Card image cap">
              <h5 class="card-header">Event Name</h5>
              <div class="card-body">
                <h6 class="card-subtitle mb-2 text-muted">Event time & location</h6>
                <p class="card-text">Short description of the event and its highlights. Three sentences should suffice</p>
              </div>
            </div>
          </div>
      </div>

    </div> 
    <!-- end of Saturday div -->

    <div class="col-sm-6">
        
      <h3 class="text-center">Sunday, May 27th, 2018</h3>

      <div class="row justify-content-center">
          <app-schedule-event *ngFor="let event of events" [event]="event"></app-schedule-event>
        <div class="card mb-2">
          <img class="card-img-top" src="http://via.placeholder.com/200x150" alt="filler img">
          <h5 class="card-header">Event name</h5>
          <div class="card-body">
            <h6 class="card-subtitle mb-2 text-muted">Event time & location</h6>
            <p class="card-text">Description about this event, highlighting target audience.</p>
          </div>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="card">
          <img class="card-img-top" src="http://via.placeholder.com/200x150" alt="filler img">
          <h5 class="card-header"><a target="_blank" href="https://calendar.google.com/event?action=TEMPLATE&amp;tmeid=MHQ4MWR1OWprOG9sc2JoOTVxdnQ2bjE5dmwgamlmcWlwZmNqbmNoNjY2dGtzNjQ5NDZjcDRAZw&amp;tmsrc=jifqipfcjnch666tks64946cp4%40group.calendar.google.com"><img border="0" src="https://www.google.com/calendar/images/ext/gc_button1_en.gif">Event name</a></h5>
          <div class="card-body">
            <h6 class="card-subtitle mb-2 text-muted">Event time & location</h6>
            <p class="card-text">Description about this event, highlighting target audience.</p>
          </div>
        </div>
      </div>

    </div>
    <!-- sunday column div -->
  </div>
  <!-- end of largest row div -->
  <iframe src="https://calendar.google.com/calendar/embed?mode=WEEK&amp;height=600&amp;wkst=2&amp;bgcolor=%23ffccff&amp;src=jifqipfcjnch666tks64946cp4%40group.calendar.google.com&amp;color=%235F6B02&amp;ctz=America%2FLos_Angeles" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
</div>
<!-- end of container div -->
