<div class="container">
  <div class="row">
    <h1 class="text-center scheduleHD1">Stages</h1>
  </div>
  <div class="row">
    <h3 class="text-center">17th St Stage</h3>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <h4 class="text-center">Saturday, May 26th</h4>
      <app-schedule-event *ngFor="let event of day1_s17" [event]="event"></app-schedule-event>
    </div>
    <div class="col-sm-6">
      <h4 class="text-center">Sunday, May 27th</h4>
      <app-schedule-event *ngFor="let event of day2_s17" [event]="event"></app-schedule-event>
    </div>
  </div>
  <div class="row">
    <h3 class="text-center">20th St Stage</h3>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <h4 class="text-center">Saturday, May 26th</h4>
      <app-schedule-event *ngFor="let event of day1_s20" [event]="event"></app-schedule-event>
    </div>
    <div class="col-sm-6">
      <h4 class="text-center">Sunday, May 27th</h4>
      <app-schedule-event *ngFor="let event of day2_s20" [event]="event"></app-schedule-event>
    </div>
  </div>
  <div class="row">
    <h3 class="text-center">21st St Stage</h3>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <h4 class="text-center">Saturday, May 26th</h4>
      <app-schedule-event *ngFor="let event of day1_s21" [event]="event"></app-schedule-event>
    </div>
    <div class="col-sm-6">
      <h4 class="text-center">Sunday, May 27th</h4>
      <app-schedule-event *ngFor="let event of day2_s21" [event]="event"></app-schedule-event>
    </div>
  </div>
  <div class="row">
    <h3 class="text-center">22nd St Stage</h3>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <h4 class="text-center">Saturday, May 26th</h4>
      <app-schedule-event *ngFor="let event of day1_s22" [event]="event"></app-schedule-event>
    </div>
    <div class="col-sm-6">
      <h4 class="text-center">Sunday, May 27th</h4>
      <app-schedule-event *ngFor="let event of day2_s22" [event]="event"></app-schedule-event>
    </div>
  </div>
  <div class="row">
    <h3 class="text-center">18th St DJ Booth</h3>
  </div>
  <div class="col-sm-6">
    <h4 class="text-center">Sunday, May 27th</h4>
    <app-schedule-event *ngFor="let event of day2_dj18" [event]="event"></app-schedule-event>
  </div>
  <div class="row">
    <h3 class="text-center">18th St DJ Booth</h3>
  </div>
  <div class="col-sm-6">
    <h4 class="text-center">Sunday, May 27th</h4>
    <app-schedule-event *ngFor="let event of day2_dj18" [event]="event"></app-schedule-event>
  </div>
  <div class="row">
    <h3 class="text-center">19th St DJ Booth</h3>
  </div>
  <div class="col-sm-6">
    <h4 class="text-center">Sunday, May 27th</h4>
    <app-schedule-event *ngFor="let event of day2_dj19" [event]="event"></app-schedule-event>
  </div>
  <div class="row">
    <h3 class="text-center">22th St DJ Booth</h3>
  </div>
  <div class="col-sm-6">
    <h4 class="text-center">Sunday, May 27th</h4>
    <app-schedule-event *ngFor="let event of day2_dj22" [event]="event"></app-schedule-event>
  </div>
</div>



<div class="container">
  <div class="row">
    <div class="col-sm-6">
      
      <h3 class="text-center scheduleHD1">Saturday, May 26th, 2018</h3>
      <app-schedule-event *ngFor="let event of events_26th" [event]="event"></app-schedule-event>
      <div class="row">
        <div class="card-group mb-2 col-sm-12">
            <div class="card">
              <img class="card-img-top" src="http://via.placeholder.com/200x150" alt="Card image cap">
              <h5 class="card-header">Event Name</h5>
              <div class="card-body">
                <h6 class="card-subtitle mb-2 text-muted">Event time & location</h6>
                <p class="card-text">Short description of the event and its highlights. Three sentences should suffice</p>
              </div>
            </div>
            <div class="card">
              <img class="card-img-top" src="http://via.placeholder.com/200x150" alt="Card image cap">
              <h5 class="card-header">Event Name</h5>
              <div class="card-body">
                <h6 class="card-subtitle mb-2 text-muted">Event time & location</h6>
                <p class="card-text">Short description of the event and its highlights. Three sentences should suffice</p>
              </div>
            </div>
            <div class="card">
              <img class="card-img-top" src="http://via.placeholder.com/200x150" alt="Card image cap">
              <h5 class="card-header">Event Name</h5>
              <div class="card-body">
                <h6 class="card-subtitle mb-2 text-muted">Event time & location</h6>
                <p class="card-text">Short description of the event and its highlights. Three sentences should suffice</p>
              </div>
            </div>
          </div>
      </div>

      <div class="row">
        <div class="card-group mb-2 col-sm-12">
            <div class="card">
              <img class="card-img-top" src="http://via.placeholder.com/200x150" alt="Card image cap">
              <h5 class="card-header">Event Name</h5>
              <div class="card-body">
                <h6 class="card-subtitle mb-2 text-muted">Event time & location</h6>
                <p class="card-text">Short description of the event and its highlights. Three sentences should suffice</p>
              </div>
            </div>
            <div class="card">
              <img class="card-img-top" src="http://via.placeholder.com/200x150" alt="Card image cap">
              <h5 class="card-header">Event Name</h5>
              <div class="card-body">
                <h6 class="card-subtitle mb-2 text-muted">Event time & location</h6>
                <p class="card-text">Short description of the event and its highlights. Three sentences should suffice</p>
              </div>
            </div>
          </div>
      </div>

    </div> 
    <!-- end of Saturday div -->

    <div class="col-sm-6">
        
      <h3 class="text-center scheduleHD2">Sunday, May 27th, 2018</h3>

      <div class="row justify-content-center">
          <app-schedule-event *ngFor="let event of events_27th" [event]="event"></app-schedule-event>
        <div class="card mb-2">
          <img class="card-img-top" src="http://via.placeholder.com/200x150" alt="filler img">
          <h5 class="card-header">Event name</h5>
          <div class="card-body">
            <h6 class="card-subtitle mb-2 text-muted">Event time & location</h6>
            <p class="card-text">Description about this event, highlighting target audience.</p>
          </div>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="card">
          <img class="card-img-top" src="http://via.placeholder.com/200x150" alt="filler img">
          <h5 class="card-header">Event name</h5>
          <div class="card-body">
            <h6 class="card-subtitle mb-2 text-muted">Event time & location</h6>
            <p class="card-text">Description about this event, highlighting target audience.</p>
          </div>
        </div>
      </div>

    </div>
    <!-- sunday column div -->
  </div>
  <!-- end of largest row div -->
</div>
<!-- end of container div -->