<div class="container">
  <div class="row justify-content-center">
    <h1 class="text-center healthHD">Health Service Providers</h1>
  </div>
  <div class= "center">
      <div class="justify-content-center">
          <p class="justify-content-center">
              Latino Connect is a health focused committee that aims to implement community structural interventions dedicated to strengthening the health and wellness of the Latino community in San Francisco.  We are proud to partner with Carnaval San Francisco to bring forth the Health and Wellness Pavilion, providing a variety of health service providers, health screenings and interactive/educational resources in a culturally relative manner to our community.
          </p>
      </div>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let health of healths">{{health}}</li>
    </ul>
  </div>